<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>all listings</h2>
    <form action="listings/new" method="GET">
        <button>Create New Listngs</button>
    </form>
    <ul>
        <% for(let list of allLists){%>
            <li><a href="/listings/<%=list._id %>"><%= list.title %></a></li>
        <% } %>
    </ul>
    
</body>
</html>