<% layout("layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br>
        <h2>Create a new listings</h2>
        <br>
        <form action="/listings" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Add a catchy title">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" placeholder="Share us what's about it" rows="4"></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="image" class="form-control" placeholder="enter image URL/Link">
            </div>

            <!-- Price and Country in one row -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" placeholder="1200">
                </div>
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control" placeholder="India">
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="location" class="form-control" placeholder="visakhapatnam, AndhraPradesh">
            </div>
            <br>

            <button class="btn btn-dark add-btn mt-3">Add</button>
            <br><br>
        </form>
    </div>
</div>
